.app {
  .coreAppContainer {
    display: flex;
  }
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #999;
}
::-webkit-scrollbar-track {
  background-color: #ddd;
}
